name: CI

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-version:
          - 4.11.0
          - 4.10.1

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - uses: avsm/setup-ocaml@v1
      with:
        ocaml-version: ${{ matrix.ocaml-version }}
    - run: opam pin add aoc.dev . --no-action
    - run: opam depext -y aoc --with-doc --with-test
    - run: opam install . --deps-only --with-doc --with-test
    - run: opam exec -- dune build
    - run: opam exec -- dune runtest
